{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/documents?page=2","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"b5e901a8695326f2dfad7d63136fdad7\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"documents\":[],\"meta\":{\"total_pages\":1}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 18:56:35 GMT"}],"recorded_with":"VCR 3.0.3"}