{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/documents?template_id=97215","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"]},"body":{"encoding":"ASCII-8BIT","string":"{\"error\":\"Record not found\"}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 18:56:35 GMT"}],"recorded_with":"VCR 3.0.3"}