{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/documents?state=voltron","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["422 Unprocessable Entity"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Invalid parameter 'state' value \\\"voltron\\\": Must match regular expression \\u003ccode\\u003e/draft|pending|executed|voided|expired/\\u003c/code\\u003e.\"}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 18:56:35 GMT"}],"recorded_with":"VCR 3.0.3"}