{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/me","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"21a8ae2e8265dc534981f843ba3f20ce\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"user\":{\"id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"timezone\":\"America/Los_Angeles\",\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\",\"company\":\"\",\"avatar_url\":null}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 16:16:59 GMT"}],"recorded_with":"VCR 3.0.3"}