{"http_interactions":[{"request":{"method":"post","uri":"https://api.rightsignature.com/public/v1/reusable_templates/cfc4ff7d-cb18-486a-8f4a-c385c18623cc/send_document","body":{"encoding":"UTF-8","string":"{\"name\":\"Nda\",\"expires_in\":1,\"roles\":[{\"name\":\"signer1\",\"signer_name\":\"Geoff\",\"signer_email\":\"jev@rightsignature.com\"}],\"merge_field_values\":[{\"id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\",\"value\":\"111 Jev St, Portland Oregon\"}]}"},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"7f394b7fd43b2f6f2936ca8dbaa1b9cb\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"document\":{\"id\":\"ce6d253f-64e1-4efb-acd0-4649e260f632\",\"current_signer_id\":\"886f169b-2b73-421b-8ae3-df06f31c6b59\",\"name\":\"Nda\",\"filename\":\"nda.pdf\",\"executed_at\":null,\"expired_at\":\"2016-10-17T19:13:39.633-07:00\",\"sent_at\":\"2016-10-16T19:13:39.659-07:00\",\"state\":\"pending\",\"thumbnail_url\":\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_55035174d35fffcf7a686a916e8ae3427681873e3f1408cc015638eed5161f24_52415_0_wi/thumbnail_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476756820\\u0026Signature=SCpgMAlsPGZWgaf4Fknh7GT8eGM%3D\",\"sender\":{\"id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\",\"signer\":false},\"recipients\":[{\"role_name\":\"signer1\",\"name\":\"Geoff\",\"email\":\"jev@rightsignature.com\",\"status\":\"pending\",\"id\":\"886f169b-2b73-421b-8ae3-df06f31c6b59\",\"sign_url\":\"https://secure.rs.dev:3000/signers/886f169b-2b73-421b-8ae3-df06f31c6b59/sign?access_token=Bc64sHZ1Lhs4f_vda1s4\",\"remind_url\":\"https://secure.rs.dev:3000/signers/886f169b-2b73-421b-8ae3-df06f31c6b59/remind\",\"message\":null,\"sequence\":0}],\"audits\":[{\"payload\":\"Geoffrey Wefrey (geoff.ereth@citrix.com) created document 'nda.pdf' from 10.0.2.2.\",\"keyword\":\"created\",\"timestamp\":\"2016-10-17T02:13:00.000+00:00\"}],\"page_image_urls\":[\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_55035174d35fffcf7a686a916e8ae3427681873e3f1408cc015638eed5161f24_52415_0_wi/original_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476756820\\u0026Signature=%2FztMrL%2FJeFhZpKNCALvD5t8Kfms%3D\"],\"signed_pdf_url\":null,\"tags\":{},\"merge_field_values\":[{\"value\":\"111 Jev St, Portland Oregon\",\"component_id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\"}]}}"},"http_version":null},"recorded_at":"Mon, 17 Oct 2016 02:13:40 GMT"}],"recorded_with":"VCR 3.0.3"}