{"http_interactions":[{"request":{"method":"post","uri":"https://api.rightsignature.com/public/v1/reusable_templates/cfc4ff7d-cb18-486a-8f4a-c385c18623cc/send_document","body":{"encoding":"UTF-8","string":"{\"expires_in\":1,\"roles\":[{\"name\":\"signer1\",\"signer_name\":\"Geoff\",\"signer_email\":\"jev@rightsignature.com\"}],\"merge_field_values\":[{\"id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\",\"value\":\"111 Jev St, Portland Oregon\"}]}"},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["422 Unprocessable Entity"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Documents Name is required.\"}"},"http_version":null},"recorded_at":"Mon, 17 Oct 2016 02:13:39 GMT"}],"recorded_with":"VCR 3.0.3"}