{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/documents?search=contracts","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"dc9c0b62297c7e155fe0128930b1983e\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"documents\":[{\"id\":\"4ac3f81b-23b1-4496-bfd4-4ddcbf7e4c53\",\"name\":\"Samplecontract\",\"filename\":\"samplecontract.pdf\",\"tags\":{\"contracts\":\"sample\"},\"state\":\"pending\",\"sender\":{\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\",\"id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"signer\":false},\"thumbnail_url\":\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_5578b0a5c3e9ba48a85609bcca8326aa23986d8e77575f6d6b857d4109390246_68153_0_wi/thumbnail_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476557794\\u0026Signature=d1bArZ1AEHMWH8Z%2FXOXfp%2FD89SU%3D\",\"executed_at\":null,\"sent_at\":\"2016-10-07T10:23:26.841-07:00\",\"current_signer_id\":null,\"expired_at\":\"2016-11-06T10:23:26.801-08:00\",\"recipients\":[{\"role_name\":\"signer1\",\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\",\"status\":\"pending\",\"id\":\"37eb381a-cc8f-4bb9-962f-a4730706abdf\"}]}],\"meta\":{\"total_pages\":1}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 18:56:34 GMT"}],"recorded_with":"VCR 3.0.3"}