{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/reusable_templates?page=3","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"a25693fbc398fddfbba546161d4aa0e3\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"reusable_templates\":[],\"meta\":{\"total_pages\":1}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 19:00:56 GMT"}],"recorded_with":"VCR 3.0.3"}