{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/reusable_templates?per_page=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"2148ec6413faba9d203fb450fe1273dd\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"reusable_templates\":[{\"id\":\"cfc4ff7d-cb18-486a-8f4a-c385c18623cc\",\"name\":\"Nda\",\"filename\":\"nda.pdf\",\"creator\":{\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\"},\"user_id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"tags\":[],\"thumbnail_url\":\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_55035174d35fffcf7a686a916e8ae3427681873e3f1408cc015638eed5161f24_52415_0_wi/thumbnail_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476558056\\u0026Signature=VKtXhSXazN%2Bzc9Wp9U4lVjIw2XM%3D\",\"created_at\":\"2016-10-07T10:16:04.965-07:00\",\"updated_at\":\"2016-10-07T10:16:48.920-07:00\"}],\"meta\":{\"total_pages\":1}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 19:00:56 GMT"}],"recorded_with":"VCR 3.0.3"}