{"http_interactions":[{"request":{"method":"post","uri":"https://api.rightsignature.com/public/v1/reusable_templates/cfc4ff7d-cb18-486a-8f4a-c385c18623cc/send_document","body":{"encoding":"UTF-8","string":"{\"name\":\"Nda\",\"expires_in\":1,\"merge_field_values\":[{\"id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\",\"value\":\"111 Jev St, Portland Oregon\"}]}"},"headers":{"Authorization":["Basic test_token"], "Content-Type":["application/json"]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["422 Unprocessable Entity"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Missing parameter roles\"}"},"http_version":null},"recorded_at":"Thu, 09 Feb 2017 19:55:20 GMT"}],"recorded_with":"VCR 3.0.3"}