{"http_interactions":[{"request":{"method":"post","uri":"https://api.rightsignature.com/public/v1/reusable_templates/123456789/send_document","body":{"encoding":"UTF-8","string":"{\"name\":\"Nda\",\"expires_in\":1,\"roles\":[{\"name\":\"signer1\",\"signer_name\":\"Geoff\",\"signer_email\":\"jev@rightsignature.com\"}],\"merge_field_values\":[{\"id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\",\"value\":\"111 Jev St, Portland Oregon\"}]}"},"headers":{"Authorization":["Basic test_token"], "Content-Type":["application/json"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["500 Internal Server Error"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"500\",\"error\":\"Internal Server Error\"}"},"http_version":null},"recorded_at":"Thu, 09 Feb 2017 19:55:22 GMT"}],"recorded_with":"VCR 3.0.3"}