{"http_interactions":[{"request":{"method":"post","uri":"https://api.rightsignature.com/public/v1/reusable_templates/cfc4ff7d-cb18-486a-8f4a-c385c18623cc/send_document","body":{"encoding":"UTF-8","string":"{\"name\":\"Nda\",\"expires_in\":1,\"roles\":[{\"name\":\"signer1\",\"signer_name\":\"Geoff\",\"signer_email\":\"jev@rightsignature.com\"}],\"merge_field_values\":[{\"id\":\"does-not-exist\",\"value\":\"nope\"}]}"},"headers":{"Authorization":["Basic test_token"], "Content-Type":["application/json"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["500 Internal Server Error"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"500\",\"error\":\"Internal Server Error\"}"},"http_version":null},"recorded_at":"Thu, 09 Feb 2017 19:55:21 GMT"}],"recorded_with":"VCR 3.0.3"}