{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/documents/f610796c-6f32-4df2-818f-e4d4c1ab0aac","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"536b7124bf5da2ece6b201ce5c1c5939\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"document\":{\"id\":\"f610796c-6f32-4df2-818f-e4d4c1ab0aac\",\"current_signer_id\":\"baf3800c-5b0c-4cf7-a5ec-e022f6af2bbd\",\"name\":\"Important nda\",\"filename\":\"nda.pdf\",\"executed_at\":null,\"expired_at\":\"2016-10-22T10:44:41.142-07:00\",\"sent_at\":\"2016-10-07T10:44:41.179-07:00\",\"state\":\"pending\",\"thumbnail_url\":\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_55035174d35fffcf7a686a916e8ae3427681873e3f1408cc015638eed5161f24_52415_0_wi/thumbnail_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476559546\\u0026Signature=NVjYzBNgqB3qCLUvb%2F1zSlO4u%2F4%3D\",\"sender\":{\"id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\",\"signer\":false},\"recipients\":[{\"role_name\":\"signer1\",\"name\":\"The Donald\",\"email\":\"mrtrumpy@gold.com\",\"status\":\"pending\",\"id\":\"baf3800c-5b0c-4cf7-a5ec-e022f6af2bbd\",\"sign_url\":\"https://secure.rs.dev:3000/signers/baf3800c-5b0c-4cf7-a5ec-e022f6af2bbd/sign?access_token=C4h--7oREz6avUVz4dG3\",\"remind_url\":\"https://secure.rs.dev:3000/signers/baf3800c-5b0c-4cf7-a5ec-e022f6af2bbd/remind\",\"message\":null,\"sequence\":0}],\"audits\":[{\"payload\":\"The Donald (mrtrumpy@gold.com) viewed the document on Chrome via Mac from 10.0.2.2.\",\"keyword\":\"viewed\",\"timestamp\":\"2016-10-07T17:44:00.000+00:00\"},{\"payload\":\"The Donald (mrtrumpy@gold.com) was emailed a link to sign.\",\"keyword\":\"distribution\",\"timestamp\":\"2016-10-07T17:44:00.000+00:00\"},{\"payload\":\"Geoffrey Wefrey (geoff.ereth@citrix.com) created document 'nda.pdf' from 10.0.2.2.\",\"keyword\":\"created\",\"timestamp\":\"2016-10-07T17:44:00.000+00:00\"}],\"page_image_urls\":[\"https://rightsign-development.s3.amazonaws.com/base_files/processed/ac9434da-a8ca-484a-817d-b5aeb2a4113f_55035174d35fffcf7a686a916e8ae3427681873e3f1408cc015638eed5161f24_52415_0_wi/original_p1.png?AWSAccessKeyId=AKIAJ6XOWM37KL6IPHHA\\u0026Expires=1476559546\\u0026Signature=GnwsDrhI4XSRKu0oV%2Fd3Z2XIG48%3D\"],\"signed_pdf_url\":null,\"tags\":{\"new_hires\":\"nda\",\"meeting_minutes\":\"q3\",\"domination_phase\":\"earth\"},\"merge_field_values\":[{\"value\":\"rightsig\",\"component_id\":\"bbc8584e-e8e1-4215-b155-3ba4aa6ec15b\"},{\"value\":\"Geoff Ereth\",\"component_id\":\"40138aea-97e7-4d84-927d-0642cf2a5391\"},{\"value\":\"by french press\",\"component_id\":\"bed6be9c-be64-4ac8-8bb9-5fe4481e5d6d\"},{\"value\":\"2016-07-10\",\"component_id\":\"4bc7aaa9-3ffe-4e65-bf5a-9b44d09113a1\"}]}}"},"http_version":null},"recorded_at":"Fri, 14 Oct 2016 19:25:46 GMT"}],"recorded_with":"VCR 3.0.3"}