{"http_interactions":[{"request":{"method":"get","uri":"https://api.rightsignature.com/public/v1/reusable_templates/cfc4ff7d-cb18-486a-8f4a-c385c18623cc","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Basic {PRIVATE_API_TOKEN}"],"User-Agent":["Faraday v0.9.2"],"Content-Type":["application/json"],"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"2b821bfaa3fd1842ffe8331a9289a342\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"reusable_template\":{\"id\":\"cfc4ff7d-cb18-486a-8f4a-c385c18623cc\",\"name\":\"Nda\",\"creator\":{\"name\":\"Geoffrey Wefrey\",\"email\":\"geoff.ereth@citrix.com\"},\"expires_in\":30,\"signer_sequencing\":false,\"shared_with\":[],\"distribution_method\":\"email\",\"identity_method\":\"email\",\"kba\":false,\"passcode\":false,\"filename\":\"nda.pdf\",\"tags\":{},\"user_id\":\"604a5ac9-ea4b-4281-b142-ff6617ee0866\",\"roles\":[{\"name\":\"signer1\",\"message\":\"\",\"sequence\":0,\"is_sender\":false,\"signer_name\":null,\"signer_email\":null,\"signer_omitted\":false}],\"merge_field_components\":[{\"id\":\"bbc8584e-e8e1-4215-b155-3ba4aa6ec15b\",\"x\":0.41757575141059,\"y\":0.239466292134831,\"page\":1,\"width\":0.0909090909090909,\"height\":0.0175561797752809,\"metadata\":{\"value\":\"\",\"font_size\":\"14\",\"help_text\":\"\",\"multiline\":false,\"text_align\":\"left\",\"is_required\":true,\"transparent\":true,\"select_options\":[],\"group_requirement\":\"only_one\"},\"name\":\"partner\",\"assigned_to\":\"signer1\",\"type\":\"TextComponent\",\"is_merge_field\":true,\"created_at\":\"2016-10-07T10:16:48.923-07:00\",\"updated_at\":\"2016-10-07T10:16:48.923-07:00\"},{\"id\":\"40138aea-97e7-4d84-927d-0642cf2a5391\",\"x\":0.199292941623264,\"y\":0.822877671983507,\"page\":1,\"width\":0.188181818181818,\"height\":0.0175561797752809,\"metadata\":{\"value\":\"\",\"font_size\":\"14\",\"help_text\":\"\",\"multiline\":false,\"text_align\":\"left\",\"is_required\":true,\"transparent\":true,\"select_options\":[],\"group_requirement\":\"only_one\"},\"name\":\"name\",\"assigned_to\":\"signer1\",\"type\":\"TextComponent\",\"is_merge_fi[...]
